<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .show{
            background: url(images/header-bg.png);
            height: 315px;
            width: 100%;
        }

        .container{
            min-width: 80%;
            height: 100%;
            background: url(images/wrapper-bg.png) bottom left no-repeat;
            margin: auto;
        }
    </style>
</head>
<body>
    <section class="show">
        <div class="container">

        </div>
    </section>
</body>
</html>