<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>opacity</title>
    <style>
        table tbody tr td img{opacity: 0.3}
        table tbody tr td img:hover{opacity: 1}
    </style>
    <!--opacity-->
</head>
<body>
    <div style="text-align: center">
        <div>
            <table border="1 1px sold" style="margin: auto">
                <tbody>
                <tr>
                    <td><img src="../../static/img/learning1/opacity/1.jpg"/></td>
                    <td><img src="../../static/img/learning1/opacity/2.jpg"/></td>
                    <td><img src="../../static/img/learning1/opacity/3.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/4.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/5.jpg" /></td>
                </tr>
                <tr>
                    <td><img src="../../static/img/learning1/opacity/6.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/7.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/8.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/9.jpg" /></td>
                    <td><img src="../../static/img/learning1/opacity/10.jpg" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>