<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2d特效</title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <section>
        <nav>
            <ul class="navList">
                <li><a href="javascript:;">首页</a></li>
                <li><a href="javascript:;">标签</a></li>
                <li><a href="javascript:;">归档</a></li>
                <li><a href="javascript:;">关于</a></li>
            </ul>
            <div class="menu"><p></p></div>
        </nav>
    </section>
    <section>
        <div class="container">
            <div class="col-1">
                <button class="curtainBtn">卷帘按钮</button>
            </div>
            <div class="col-1">
                <button class="circleBtn">圆形按钮</button>
            </div>
            <div class="col-1">
                <button class="shadowBtn"><span>阴影按钮</span></button>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-1">
                <button class="preBtn"><span>Previous</span></button>
            </div>
            <div class="col-1">
                <div class="imgBox">
                    <img src="person1.jpg">
                    <p>Photo for testing</p>
                </div>
            </div>
            <div class="col-1">
                <button class="nextBtn"><span>Next</span></button>
            </div>
        </div>
    </section>
</body>
<script>

</script>
</html>