<!DOCTYPE html>
<html lang="en">
<head style="height: 100%">
    <meta charset="UTF-8">
    <title>tencentBlog</title>
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <link href="../../static/css/style.css" type="text/css">
</head>
<body style="margin: 0px;height: 100%">
<div class="contain" style="background-color: #555555;padding-top: 10px;height: 100%">
    <div style="width: 800px;margin: auto;border-radius: 3px;background-color: whitesmoke;padding: 5px">
        <h2>来，说说你在做什么，想什么</h2>
    </div>
</div>
</body>
</html>